@use "./breakpoints.scss" as bp;

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: #fbfbfb;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  padding: 80px 0;
  max-width: 1296px;
  margin: 0 auto;
  // @include bp.pc() {
  //   max-width: 960px;
  // }
  @include bp.mobile() {
    padding: 64px 12px;
  }
}
h2 {
  font-size: 64px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 48px;
  }
}
button {
  all: unset;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
input {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: #4b4b4b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.border {
  width: 30px;
  border: 2px solid #0027d5;
  border-radius: 10px;
}
.btn {
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}
.social-links {
  display: flex;
  align-items: center;
  img {
    max-width: 44px;
    height: 44px;
  }
}
